.row {
    color: white;
    margin-left: 20px;
}

.roe__posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row__posters::-webkit-scrollbar {
    display: none;
}

.row__poster {
    max-height: 100px;
    object-fit: contain;
    margin-right: 10px;
    transition: transform 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}