.loginScreen {
    position: relative;
    height: 100%;
    background: url('../images/netflix_bg2.jpg') center no-repeat;
    background-size: cover;
}

.loginScreen__gradient {
    width: 100%;
    z-index: 1;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0) 60%, rgba(0, 0, 0.8) 100%);
}

.loginScreen__button {
    position: fixed;
    right: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #e50914;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.loginScreen__logo {
    position: fixed;
    left: 0;
    width: 150px;
    object-fit: contain;
    padding: 20px;
}